.GameOfLife {
  text-align: center;
  margin-top: 5rem;
}

.GameOfLife__cells {
  display: flex;
  justify-content: center;
}

.GameOfLife__column {
  display: flex;
  flex-direction: column;
}

.GameOfLife__cell {
  width: 30px;
  height: 30px;
  border: 1px solid #c0c0c0;
}

.GameOfLife__cell--alive {
  background-color: black;
}

.GameOfLife__cell--dead {
  background-color: white;
}

.GameOfLife__startGameButton {
  margin-bottom: 6px;
}

.speed {
  transform: rotate(180deg);
}

input[type='range'] {
  overflow: hidden;
  -webkit-appearance: none;
  background-color: #fff;
  width: 300px;
  height: 20px;
}